body {
    background-color: #0f172A;
    color: #E2E8F0;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
}

nav {
    display: flex;
    gap: 30px;
}

* {box-sizing: border-box;}

header　{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 0px 30px;
}

section {
    padding: 10px 30px;
}

footer {
    padding: 20px 30px;
    font-size: 11px;
    
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 0px 30px;
    background: #ffffff;
    height: 75px;
    top: 0;

} 

nav a:hover {
   color: #9c9393
}

.photo {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.two-column {
    display: flex;
    width: 100%;
    gap: 30px;
}

.left-column {
    width: 50%;
}

.right-column {
    width: 50%;
}


/* Works */
#works-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.work-card img{

    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    display: block;
}

.work-card {
    border: 1px solid #fdfafa;
}
.work-card h4 {
    margin: 15px 15px 5px;
    color:#E2E8F0
}
.work-card p {
    margin: 0 15px 15px;
    font-size: 14px;
    line-height: 1.6;
    color:#E2E8F0

}
.work-card:hover{
    opacity: 0.7;
}
